.dropdown-menu {
    display: none;
}
.dropdown-menu.show {
    display: block;
}

.dash-circular-img{
    border-radius: 50%;
}

.dash-input-search{
    width: 400px;
}

.dash-notification{
    color: #f9f904;
   
}

.dash-search-icon{
    margin-top: 10px;
}

.dash-sidebar-height{
    height: 688px;
}

@media screen and (max-width: 767px) {
    .dash-sales-mobile{
        right: 40px;
        position: relative;
    }
  
  }
  @media screen and (max-width: 469px) {
    .dash-sales-mobile{
        right: 40px;
        position: relative;
    }
  
  }
